@media (max-width: 1200px) {
    #jumbo-desc {
      font-size: calc(.875rem + 0.3vw);
    }
    .desc {
      font-size: calc(.875rem + 0.5vw);
      margin: auto auto 25px;
    }
    .jumbo {
      font-size: calc(1.475rem + 2.3vw);
    }
    .close {
      font-size: calc(1.275rem + 0.3vw);
    }
  }

@media (min-width: 576px) {
  .jumbotron{
    padding: 2.5rem 2.0rem;
  } 
}

@media (min-width: 768px) {
  .jumbotron{
    padding: 7rem 4rem;
  }
}

@media (min-width: 1200px) {
  .jumbotron{
    padding: 4rem 22rem;
  }
  .desc {
    font-size: calc(.875rem + 0.5vw);
  }
}

.parking-lot {
    background-color: #eeeeee;
}

.jumbotron {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 1rem;
}

.more-info {
    background-color: rgb(0,101,189);
}

.opening {
    color: #ffffff;
    text-shadow: 0px 10px 60px rgba(0,0,0,1);
    font-family: "Roboto Slab", serif;
}

.img {
  width: 100%;
  height: auto;
}

.chart-container {
  position: relative;
  margin: auto auto 25px;
  height: 40vh;
  width: 85vw;
}

hr {
  margin: .25em .25em;
}